<% session_key_name = Rails.application.config.session_options[:key] -%>

<script type="text/javascript">
$(function() {
	$("#file_upload").uploadify({
		uploader: '/assets/uploadify.swf',
		script: '<%= upload_save_url %>',
		fileDataName: "Filedata",
		cancelImg: "/images/cancel.png",
		fileDesc: "gimma sum filz",
		fileExt: "*.*",
		auto: false,
		sizeLimit: <%= 100.megabytes %>,
		width: 150,
		height: 25,
		multi: true, 
		wmode: "transparent",
		buttonText: "Uplode",
		removeCompleted: false,
		onComplete: function(a, b, c, response) {},
		scriptData: {
			"_http_accept" : "application/javascript",
			"_method" : "put",
			"<%= session_key_name %>" : encodeURIComponent("<%= u cookies[:key] %>"),
			"<%= request_forgery_protection_token %>" : encodeURIComponent("<%= u form_authenticity_token %>")
		},
		onSelectOnce: function(event,data) { alert("starting a file" + data); },
	});
});
</script>

<%= form_tag(upload_save_url, :multipart => true) do -%>
	<input id="file_upload" name="file_upload" type="file" />
	<a href="javascript:$('#file_upload').uploadifyUpload()">Upload Files</a>
<% end -%>
